.ept-bootstrap-button {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.ept-bootstrap-button .ept-bootstrap-button-wrapper {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.ept-bootstrap-button.ept-align-left .ept-container {
  text-align: left;
}

.ept-bootstrap-button.ept-align-center .ept-container {
  text-align: center;
}

.ept-bootstrap-button.ept-align-right .ept-container {
  text-align: right;
}

.ept-bootstrap-button.ept-stretched .ept-container .ept-bootstrap-button-wrapper {
  width: 100%;
}

.ept-bootstrap-button.ept-stretched .ept-container .ept-bootstrap-button {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}
